{% extends 'imdb/base.html' %}
{% load static %}
{% block content %}
  <title>Просмотр IMDB базы</title>
<header class="header">
  <div class ="container header__container">
    <div class="header__title-container">
      <div class="header__title-hello">
        <div class ="header__logo-container">
          <img src="{% static 'media\imdb_logo_100.png' %}" alt="">
        </div>
          <h3 class="header__title">
            <span>Здравствуйте, <font color= #6251fc>{{ user.get_full_name }} </font></span>
          </h3>
      </div>
      <div class="header__title-contact">
        <div class="nav">
          <ul>
            <li>
              {% if user.is_authenticated %}
              <form action="{% url 'logout' %}?next={{request.path}}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Выйти</button>
              </form>
              {% endif %}
            </li>
            <li>
              {% if user.is_staff %}
			          <input type="button" class="btn btn-primary" value="Очистить базу" onclick="window.location.href = '{% url 'imdb:delete_conf' %}'">
			          <input type="button" class="btn btn-success" value="Загрузить базу" onclick="window.location.href = '{% url 'imdb:upload_csv' %}'">
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header__text-container">
      <h1 class="header__title">
        <span>Просмотр IMDB базы</span>
      </h1>
      <ul>
        <li>{{ title }}: {{ imdb_records_cnt }}</li>
        <li>Дата публикации: {{ public_date }}</li>
        <li>Версия: 1.0</li>
      </ul>
      <span class = "empty__filters"> {{ message }} </span>
    </div>
  </div>
</header>

<hr>

<section class = "panel_search">
<form method="POST">
    {% csrf_token %}
    <div class = "search_attr">
      <div class="select-wrapper">
        <label for="product">ID продукта</label>
        <input class="search_field" list="products" name="product" id="product" style = "width:100px" placeholder="Search...">
        <datalist id="products"></datalist>
      </div>
      <br>
      <div class="select-wrapper">
        <label for="ean">Штрих- код продукта</label>
        <input class="search_field" list="codes" name="barcode" id="ean" style = "width:150px" placeholder="Search...">
        <datalist id="codes"></datalist>
      </div>
      <br>
      <div class="select-wrapper">
      <label for="descr">Описание продукта</label>
        <input class="search_field" list="descrs" name="description" id="descr" style = "width:250px" placeholder="Search...">
        <datalist id="descrs"></datalist>
      </div>
      <br>

      <div class="select-wrapper">
      <label for="ctgr">Категория</label>
        <input class="search_field" list="categories" name="category" id="ctgr" style = "width:250px" placeholder="Search...">
        <datalist id="categories"></datalist>
      </div>
      <br>

      <div class="select-wrapper">
        <label for="brnd">Бренд</label>
          <input class="search_field" list="brands" name="brand" id="brnd" style = "width:250px" placeholder="Search...">
          <datalist id="brands"></datalist>
        </div>
      <br>
      <div class="select-wrapper">
        <label for="mnfr">Производитель</label>
          <input class="search_field" list="manufacturers" name="manufacturer" id="mnfr" style = "width:250px" placeholder="Search...">
          <datalist id="manufacturers"></datalist>
      </div>
      <div class="select-wrapper">
        <label for="sts">Статус продукта</label>
          <input class="search_field" list="statuses" name="status" id="sts" style = "width:80px" placeholder="Search...">
          <datalist id="statuses">
            <option>Active</option>
            <option>Inactive</option>
          </datalist>
        </div>

      <div class="select-wrapper">
        <br>
        <input type="submit" class="btn btn-success" value="Поиск"/>
      </div>
    </div>
  </form>
    <hr>
</section>

<div class ="table-container">
  <section>
  <table class="table-result">
    <tr>
      <th>ID продукта</th>
      <th>Штрих- код</th>
      <th>Описание</th>
      <th>Категория</th>
      <th>Бренд</th>
      <th>Производитель</th>
      <th>Статус</th>
    </tr>
    {% for item in imdb_list_filtered %}
    <tr>
      <td>{{ item.product_id }}</td>
      <td>{{ item.code }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.manufacturer }}</td>
      <td>{{ item.status }}</td>
    </tr>
    {% endfor %}
    </table>
</section>
</div>

{% endblock %}
    {% block legal %}
        <div class="footer__legal_one">
          <p>Базы данных Нильсен разрабатываются и формируются с учетом потребностей и задач каждого отдельного клиента, поэтому их стоимость определяется индивидуально исходя из целого ряда параметров и является коммерческой тайной Нильсен. Конкретный размер лицензионного вознаграждения за предоставляемые базы данных Нильсен определяет с клиентом в соответствующем лицензионном соглашении.</p>
        </div>
        <div class="footer__legal_one">
          <p>Исключительные права на базы данных Нильсен принадлежат ООО «Эй си Нильсен» и ООО «Нильсен Дэйта Фэктори» и предоставляются посредством лицензирования. Приобретение данных Нильсен у любых третьих лиц, а также их дальнейшее использование является неправомерным и преследуется по закону.</p>
        </div>
    {% endblock %}
